<h2><%= link_to 'New Post', new_post_path%></h2>
<div class="main-page-outer row">
  <% if @posts.any? %>
      <%= render @tag.posts %> 
  <% else %>
    <p>no current posts yet</p>
  <% end %>
</div>