
<%= link_to 'New Post', new_post_path%>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <p><%= post.caption %><%= post.user.username %></p>
  <% end %>

<% else %>

  <p>no current posts yet</p>
<% end %>
